@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: white;
    height: 100%;
    overflow: hidden;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}

#counter {
    position: absolute;
    top: 20px;
    right: 20px;
}

#end {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#end button {
    background-color: red;
    padding: 20px 50px 20px 50px;
    font-family: inherit;
    font-size: inherit;
}

#controlls {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#controlls div {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

#controlls button {
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
}


#controlls button:first-of-type {
    grid-column: 1/-1;
}

#victory {
    visibility: hidden;
    /* default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: gold;
}

#victory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 900;
    color: yellow;
    animation: display 0.5s ease-in forwards;
     z-index: 10;
}

@keyframes display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.circle {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(circle, #fff5cc, #ffcc00, #ff9900);
    pointer-events: none;
    animation: btnnut 1s ease-out forwards;
    z-index: 1;
}

@keyframes btnnut {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
    }

    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

.star {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: yellow;
    border-radius: 50%;
    opacity: 1;
    z-index: 0;
}

.star-left {
    animation: flyLeft 1s linear forwards;
}

.star-right {
    animation: flyRight 1s linear forwards;
}

@keyframes flyLeft {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(-200px, -50px);
        opacity: 0;
    }
}

@keyframes flyRight {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(200px, -50px);
        opacity: 0;
    }
}